body {
    background-image: url(https://i.pinimg.com/originals/04/21/69/042169550c4d4c70f2ed06d381b3426b.jpg);
    background-repeat: repeat;
    background-position: center;
    margin: 0;
}

button {
    color: white;
}

#nombre {
    color: white;
}

#des {
    color: white;
    font-size: large;
}

.price {
    color: white;
}

img {
    width: 400px;
    height: auto;
}