body {
  background-image: url(https://i.pinimg.com/originals/04/21/69/042169550c4d4c70f2ed06d381b3426b.jpg);
  background-repeat: repeat;
  background-position: center;
  margin: 0;
}


div#slider {
  overflow: hidden;
}

/* las im치genes no van a salir del m치rgen de la pantalla*/
div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
  /*el movimiento se va a mantener de forma indefinida -infinito-*/
}

/*esta parte del c칩digo define el movimiento de las im치genes a la izquierda*/
@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}