body {
    background-image: url(https://i.pinimg.com/originals/04/21/69/042169550c4d4c70f2ed06d381b3426b.jpg);
    background-repeat: repeat;
    background-position: center;
    margin: 0;
}

.prueba {
color: white;
}

input {
    color: white;
}