.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}

body {
    background-image: url(https://i.pinimg.com/originals/04/21/69/042169550c4d4c70f2ed06d381b3426b.jpg);
    background-repeat: repeat;
    background-position: center;
    margin: 0;
}


div,
input {
    color: white;
}

#coche {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#coche:hover {
    transform: scale(1.1);
}

